body {
    text-align: center;
}

.hide{
  display: none;
}

.modal {
    height: 40%;
    width: 45%;
    border-radius: 5px;
    top: 30%;
    box-shadow: 5px 2px 20px 10px rgba(46, 61, 73, 0.5);
    position: absolute;
    left: 27%;
    overflow: auto;
    text-align: center;
    background: lavender;
    scroll-behavior: none;
}

.grow { 
transition: all .2s ease-in-out; 
}
 
.grow:hover { 
transform: scale(1.1); 
}

.yes-please {
    margin: 5px;
}

.no-thanks {
    margin: 5px;
}